{% if product.available %}
{% for col in product.collections %}
{% if col.handle == 'new' %}
<div class="new icn">{{ 'products.general.new' | t }}</div>
{% endif %}
{% endfor %}
{% if product.price < product.compare_at_price %}
<div class="sale-item icn">{{ 'products.general.sale' | t }}</div>
{% endif %}
{% else %}
<div class="so icn">{{ 'products.general.sold' | t }}</div>
{% endif %}
<a href="{{ product.url | within: collection }}">  
  
  <div class="reveal">
    <img src="{{ product.featured_image.src | product_img_url: '500x' }}" alt="{{ product.featured_image.alt | escape }}" />
    {% if settings.display-options == 'image-switch' and product.images.size > 1 %}
    <div class="hidden">
      <img src="{{ product.images[1] | product_img_url: '500x' }}" alt="{{ product.images[1].alt | escape }}" />
    </div>
    {% endif %}
  </div>  
  
</a>              
<div class="product-info">
  <a href="{{ product.url | within: collection }}"> 
    {% if settings.vendor %}<p>{{ product.vendor }}</p>{% endif %}
    <div class="prod-title">{{ product.title }}</div>
  </a>
  <div class="price">
    {% if product.price < product.compare_at_price %}
    <div class="onsale">{{ product.price | money }}</div>
    <div class="was">{{ product.compare_at_price | money }}</div>
    {% else %}
    <div class="prod-price">{% if product.price_varies %} {{ 'products.general.from' | t }} {{ product.price_min | money }} - {{ product.price_max | money }} {% else %}{{ product.price | money }}{% endif %}</div>
    {% endif %}	
  </div>
  
    {% if product.variants.size > 1 %}
      {% if settings.product-info == 'sizes' and product.available %}
        {% include 'show-sizes' %}
      {% elsif settings.product-info == 'colors' and product.available %}
        {% include 'show-colors' %}
      {% endif %} 
    {% endif %}

  
  {% if settings.product-info == 'add-to-cart' %}
  	{% include 'product-grid-add' %}
  {% endif %}

</div>